<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Macro Perspective</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-styles.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
    
        <nav>
            <ul class="sidebar" style='text-align: center;'>
                <li onclick="hideSidebar()"><a href="{{ url_for('contact') }}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li onclick="hideSidebar()"><a  href="{{ url_for('home') }}">Home</a></li>
                <li onclick="hideSidebar()"><a href="/#FAQ">FAQ</a></li>
                <li onclick="hideSidebar()"><a href="{{ url_for('contact') }}">Contact</a></li>
                {% if not logged_in: %}
                <li onclick="hideSidebar()"><a href="{{ url_for('login') }}">Login</a></li>
                {% else: %}
                <li onclick="hideSidebar()"><a href="{{ url_for('account') }}">Account</a></li>
                <li onclick="hideSidebar()"><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
            </ul>
            <ul>
                <li><a href="#" class="no_hover"><img src="{{ url_for('static', filename='images/android-chrome-192x192.png') }}" height="50px" alt="macroperspective logo" style="padding-right: 10px;"> MACRO PERSPECTIVE</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="hideOnMobile"><a href="/#FAQ">FAQ</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('contact') }}">Contact</a></li>
                {% if not logged_in: %}
                <li class="hideOnMobile"><a href="{{ url_for('login') }}">Login</a></li>
                {% else: %}
                <li class="hideOnMobile"><a href="{{ url_for('account') }}">Account</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
                <li class="menu-button" onclick=showSidebar()><a href="javascript:;" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F5C645"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>

    <div class="wrapper"  onclick="hideSidebar()">
        <div class="wrapper-input">
            <form action="{{ url_for('contact') }}" method="post">
                <h1>
                    Contact Us
                </h1>
                <div class="input-box">
                    <input type="text" name="name" placeholder="Name" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class="bx bx-envelope"></i>
                </div>
                <textarea name="message" placeholder="Your message"></textarea>
                <button type="submit" class="btn" onclick="HideButton()">Send Message</button>
            </form>
        </div>
        <div class="wrapper-input">
            <img src="{{ url_for('static', filename='images/best lion logo edited.jpg') }}" style="width: 100%;" alt="Macro Perspective logo">
        </div>
    </div>




    <script>
        function showSidebar(){
            const sidebar = document.querySelector(".sidebar")
            sidebar.style.display = 'flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector(".sidebar")
            sidebar.style.display = 'none'
        }
        function HideButton(){
            const btn = document.querySelector(".btn")
            btn.style.display = 'none'
        }
    </script>
</body>
</html>